{{#content}}
<div class="header-wrapper">
  {{#header}}
  <header class="header-main container-fluid" role="banner">
    <div class="toplogo"><a href="{{url}}" class="{{class}}" target="{{target}}">{{label}}</a></div>
    <h1 class="sitename"><a href="{{../../appUrl}}/">{{../../appName}}</a></h1>
  </header>
  {{/header}} 
{{/content}} 
</div>
{{>warning}}
